body {
    background: black;
    color: white;
    margin: 0;
}

.canvas {
    position: fixed;

    height: 100%;
    width: 100%;

    z-index: 2;
}

/* Home section */
.home {
    height: 100vh;
}

.name-plate {
    height: 100%;
    text-align: center;
}

.name-separator {
    border: 2px solid maroon;
    margin-bottom: 0;
}


/* Footer */
.footer {
    background: gray;
}