html {
    /* scroll-behavior: smooth; */
}

body {
    background: black;
    color: white;
    margin: 0;
}

.canvas {
    position: fixed;

    height: 100%;
    width: 100%;
    z-index: 0;
}

/* Navbar */

.navbar {
    position: fixed;
    width: 100%;

    background-color: rgb(26, 22, 22);
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    margin: 0;
}

.navbar li {
    float: left;
    color: white;
    text-align: center;
}

.navbar li:hover{
    background-color: maroon;
}

.navbar .right {
    float: right;
}

.navbar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.navbar .fa-tint {
    /* Hack to make fa-tint and fa-tint-slash the same width */
    width: 20px;
}

/* Home section */
.home {
    height: 100vh;

    display: flex;
    align-items: center;
}

.name-plate {
    text-align: center;
    width: 100%;
}

.name-separator {
    width: 180px;

    border: 2px solid maroon;
    margin-bottom: 0;
}

/* About Section */
.about {
    /* TODO: Remove height */
    height: 100vh;
}

.about-blurb {
    margin: 0 10%;
    width: 80%;
}

.about-interests {
    text-align: center;
}

.about-gallery {
    display: flex;
    position: relative;
}

.about-gallery-entry {
    display: relative;
    flex-grow: 1;
    transition: 1s;

    /* TODO: Remove */
    height: 120px;
    border: red solid 2px;
}

.about-gallery-entry:hover {
    flex-grow: 2;
}

/* Footer */
.footer {
    position: relative;
    height: 70px;

    background: gray;
    display: flex;
    justify-content: center;
}

.footer-link {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;

    padding-top: 20px;
}

.footer-email:hover {
    background: goldenrod;
}
.footer-github:hover {
    background: #4078c0;
}
.footer-linkedin:hover {
    background: #0077b5;
}
.footer-lastfm:hover {
    background: #d51007;
}
.footer-thingiverse:hover {
    background: #248bfb;
}
