body {
    background: black;
    color: white;
    margin: 0;
}

.canvas {
    position: fixed;

    height: 100%;
    width: 100%;
    z-index: 0;
}

/* Home section */
.home {
    height: 100vh;
}

.name-plate {
    height: 100%;
    text-align: center;
}

.name-separator {
    border: 2px solid maroon;
    margin-bottom: 0;
}


/* Footer */
.footer {
    height: 100px;

    background: gray;
    display: flex;
    justify-content: center;
}

.footer-link {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;

    padding-top: 25px;
}

.footer-email:hover {
    background: goldenrod;
}
.footer-github:hover {
    background: #4078c0;
}
.footer-linkedin:hover {
    background: #0077b5;
}
.footer-lastfm:hover {
    background: #d51007;
}
.footer-thingiverse:hover {
    background: #248bfb;
}
