html {
    /* scroll-behavior: smooth; */
}

body {
    background: #0c0c0c;
    color: white;
    margin: 0;
}

.canvas {
    position: fixed;

    height: 100%;
    width: 100%;
    z-index: 0;
}

h1 {
    text-align: center;
    position: relative;
}
h2 {
    text-align: center;
    position: relative;
}

/* Navbar */

.navbar {
    position: fixed;
    right: 0;
    z-index: 1;

    background-color: ;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    margin: 0;
}

.navbar li {
    float: left;
    color: white;
    text-align: center;
}

.navbar li:hover, .navbar li:focus-within{
    background-color: maroon;
}

.navbar .right {
    float: right;
}

.navbar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.navbar .fa-tint {
    /* Hack to make fa-tint and fa-tint-slash the same width */
    width: 20px;
}

/* Home section */
.home {
    position: relative;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
}

.name-plate {
    margin: auto;
}

.name-separator {
    position: relative;
    width: 180px;
    border: 2px solid maroon;
}

.home-svg {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.home-down-button {
    position: absolute;
    font-size: 3em;
    top: 90%;
    left: 50%;
    margin-left: -1em;
}

.home-down-button:focus,.home-down-button:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: #f6a950;
}

/* Section */
.section-header {

}
.section-separator {
    position: relative;
    width: 280px;
    border: 2px solid maroon;
    margin: 30px auto;
}


/* About Section */
.about {

}

.about-blurb {
    display: inline-block;
    padding: 0 10% 10% 10%;
}

.about-image {
    position: relative;
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

.about-text {
    position: relative;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}

/* Work Section */
.work {
    margin-bottom: 5%;
}

.workplace-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.workplace-card {
    position: relative;
    width: 15%;
    min-width: 300px;
    margin: 1%;
}

.workplace-card img {
    width: 100%;
    min-width: 300px;
}

.workplace-card:hover img {
    filter: blur(4px) brightness(20%);
}

.workplace-card div {
    display: none;
}

.workplace-card:hover div {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Projects Section */
.projects {
    /* TODO: Remove height */
    height: 50vh;
    text-align: center;
}

.projects-gallery {
    display: flex;
    position: relative;
}

.projects-gallery-entry {
    display: relative;
    flex-grow: 1;
    transition: 1s;

    /* TODO: Remove */
    height: 240px;
    border: red solid 2px;
}

.projects-gallery-entry:hover {
    flex-grow: 2;
    filter: blur(4px) brightness(20%);
}

.project-watchface {
    background: url(../images/watchface.png) no-repeat center center;
    background-size: cover;
}

.project-osu-keyboard {
    background: url(../images/osu_keyboard.jpg) no-repeat center center;
    background-size: cover;
}

.projects-3d-model {
    background: url(../images/3d_model.png) no-repeat center center;
    background-size: cover;
}

.projects-keyboard-entry {
    background: url(../images/keyboard_build.jpg) no-repeat center center;
    background-size: cover;
}

/* Footer */
.footer {
    width: 100%;
    height: 70px;
    background: gray;
}

.footer-message {
    display: inline-flex;
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contact {
    display: inline-flex;
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

.contact-link {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;

    padding-top: 20px;
    color: white;
}

.contact-email:hover {
    background: goldenrod;
}
.contact-github:hover {
    background: #4078c0;
}
.contact-linkedin:hover {
    background: #0077b5;
}
.contact-lastfm:hover {
    background: #d51007;
}
.contact-thingiverse:hover {
    background: #248bfb;
}
