html {
    /* scroll-behavior: smooth; */
}

body {
    background: #f5f5f5;
    color: #0c0c0c;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.canvas {
    position: fixed;

    height: 100%;
    width: 100%;
    z-index: 0;
}

h1 {
    text-align: center;
    position: relative;
    text-shadow: 1px 1px 3px #f5f5f5, -1px -1px 3px #f5f5f5;
}
h2 {
    text-align: center;
    position: relative;
}

/* Navbar */

.navbar {
    position: fixed;
    right: 0;
    z-index: 1;

    background-color: ;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    margin: 0;
}

.navbar li {
    float: left;
    text-align: center;
}

.navbar li:hover, .navbar li:focus-within{
    background-color: #bb1e10;
}

.navbar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #0c0c0c;
}

.navbar .fa-tint {
    /* Hack to make fa-tint and fa-tint-slash the same width */
    width: 20px;
}

/* Home section */
.home {
    position: relative;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
}

.name-plate {
    margin: auto;
}

.name-separator {
    position: relative;
    width: 180px;
    border: 2px solid #bb1e10;
}

.home-svg {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.home-down-button {
    position: absolute;
    font-size: 3em;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.moon {
    fill: #0c0c0c
}

.moon-overlay-circle {
    fill: #f5f5f5
}

.moon-overlay-rectangle {
    fill: #f5f5f5
}

.home-down-button:focus,.home-down-button:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: #bb1e10;
}

/* Section */
.section-header {

}
.section-separator {
    position: relative;
    width: 280px;
    border: 2px solid #bb1e10;
    margin: 30px auto;
}

.list-card i {
    display: inline-block;
    margin-right: 20px;
    color: #bb1e10;
}

.list-card h3 {
    position: relative;
    display: inline-block;
}

.list-card h4 {
    position: relative;
    font-size: 75%;
    margin-top: 0;
    margin-left: 45px;
}

/* About Section */
.about {
    width: 100%;
    text-align: center;
    margin-bottom: 20vh;
}

.about-text {
    position: relative;
    vertical-align: middle;
    text-align: center;
}

/* Work Section */
.work {
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    margin-bottom: 10vh;
    width: 40%;
}

/* Projects Section */
.projects {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 10vh;
    width: 40%;
}

/* Footer */
.footer {
    width: 100%;
    height: 70px;
    background: gray;
}

.contact {
    display: inline-flex;
    position: relative;
    width: 50%;
    height: 100%;
    left: 25%;
}

.contact-link {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;

    padding-top: 20px;
    color: #0c0c0c;
}

.contact-email:hover {
    background: goldenrod;
}
.contact-github:hover {
    background: #4078c0;
}
.contact-linkedin:hover {
    background: #0077b5;
}
.contact-lastfm:hover {
    background: #d51007;
}
.contact-thingiverse:hover {
    background: #248bfb;
}

@media only screen and (max-width: 768px) {

    /* Work Section */
    .work {
        width: 80%;
    }
    
    /* Projects Section */
    .projects {
        margin-left: 10%;
        width: 80%;
    }

    .contact {
        width: 100%;
        left: 0;
    }

    .home-down-button {
        top: 80%;
    }
}